header {
	position: fixed;
	top: 0;
	background-color: rgb(35, 183, 224);
	width: 100%;
}

body .wrapper {
	max-width: 100% !important;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: rgb(35, 183, 224);
	width: 100%;
}

footer a:hover {
	cursor: default;
}

footer a {
	padding: 2px;
	text-decoration: underline !important;
	color: #4800ff !important;
}

aside blockquote.blockquote {
	font-weight: normal;
	font-style: italic;
}

article.article p {
	font-style: normal !important;
}

.article img + p::first-letter {
	font-size: 2em;
	color: rgb(187, 19, 19);
	font-weight: bold;
}

.article:nth-of-type(odd) img {
	float: left;
}
.article:nth-of-type(even) img {
	float: right;
}

.article img {
	min-height: 150px;
}

.word {
	position: sticky;
	top: 50px;
	left: 0px;
	width: 100px;
}

.word.first {
	background-color: rgb(255, 0, 0);
}
.word.second {
	background-color: rgb(255, 60, 60);
	left: 100px;
}
.word.third {
	background-color: rgb(253, 113, 113);
	left: 200px;
}
.word.fourth {
	background-color: rgb(249, 146, 146);
	left: 300px;
}
.word.fifth {
	background-color: rgb(255, 210, 210);
	left: 400px;
}